<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans" xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "hall" class = "com.brillio.ticketfare.Hall">
      <property name = "length" value = "10"/>
      <property name = "width" value = "12"/>
      <property name="owner">
       <bean id="owner" class = "com.brillio.ticketfare.Owner">
      <property name = "name" value = "raama"/>
      <property name = "password" value = "raama@123"/>
      </bean>
       </property>
       </bean>
</beans>