<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "ticketBooking" class = "com.brillio.ticketfare.TicketBooking">
      <property name = "id" value = "TicketBooking"/>
      <property name = "numberOfPersons" value = "3"/>
      <property name = "fare" value = "230"/>
   </bean>
</beans>